@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.box {
    color: #fff;
    background-color: #646464;
}

.winning-cell {
    background-color: rgba(78, 233, 78, 0.637);
    color: #fefffe;
}

main {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_game {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e773;
    width: 80%;
    max-width: 400px;
    height: 45%;
    border-radius: 8px;
}

.select_game h2 {
    color: #fff;
    font-size: 4.0rem;
    font-family: 'VT323', monospace;
    margin-bottom: 40px;
}

.select_game button{
    font-family: 'VT323', monospace;
    font-size: 3.0rem;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    background-color: #fffdfd;
}

.title_select__game {
    font-size: 3rem;
    font-family: 'VT323', monospace;
    margin-bottom: 20px;
    color: #ffffff;
}

.title_game {
    font-size: 5.0rem;
    font-family: 'VT323', monospace;
    margin-bottom: 20px;
    color: #ffffff;
    animation: top 1s;
}

@keyframes top {
    0% {
        margin-bottom: -100px;
    }
    100% {
        margin-bottom: 20px;
    }
}


#gameContainer {
    width: 95%;
    max-width: 500px;
    height: 285px;
    min-height: 285px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gameContainer button { 
    width: 99%;
    height: 119px;
    cursor: pointer;
    font-size: 9rem;
    border: none;
    margin: 1px;
}

#gameContainer .box1, .box2 , .box3 {
    margin-top: 1px;
}


#scores {
    margin-top: 90px;
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 80px;
    justify-content: space-around;
}

#scores div {
    width: 100%;
    height: 100%;
    margin: 10px;
    text-align: center;
    font-size: 2.9rem;
    padding: 11px;
    border: none;
    border-radius: 5px;
    font-family: 'VT323', monospace;
}

#scores div span {
    display: block;
}

.you_score {
    background-color: rgb(8, 179, 247);
}

.ties {
    background-color: rgb(219, 255, 57);
}

.cpu_score {
    background-color: rgb(255, 15, 15);
}

#statusGame {
    font-size: 3rem;
    font-family: 'VT323', monospace;
    font-weight: bold;
    margin-top: 20px;
}

.selectOption {
    width: 100%;
    height: 50px;
}

.selectOption button {
    width: 135px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.719);
    margin: 10px;
    border-radius: 5px;
    font-family: 'VT323', monospace;
    font-size: 2.4rem;
}

.autor {
    text-decoration: none;
    color: #ffffff;
    left: calc(50% - 130px);
    position: absolute;
    bottom: 5px;
    font-family: 'VT323', monospace;
    font-size: 3rem;
}